
 body, html, .container-fluid {
  height: 100%;
}

.deck{
  width: 80px;
  height: 120px;
  background-color: red;
}

.card-container{
  width: 100%;
  text-align: center;
}

.draw-card{
  display: inline-block;
  width: 100px;
  height: 140px;
  border: 2px solid black;
  margin: 20px;
  background-color: white;
}

.spades{
  margin: auto;
  background-image: url("./img/spades.png");
  height: 85px;
  width: 70px;
  border: 1px solid grey;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
}
.diamond{
  margin: auto;
  background-image: url("./img/diamond.png");
  height: 85px;
  width: 70px;
  border: 1px solid grey;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
}
.club{
  margin: auto;
  background-image: url("./img/club.png");
  height: 85px;
  width: 70px;
  border: 1px solid grey;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
}
.heart{
  margin: auto;
  background-image: url("./img/heart.png");
  height: 85px;
  width: 70px;
  border: 1px solid grey;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
}